$govuk-assets-path: "/eeitt-admin-frontend/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/eeitt-admin-frontend/assets/lib/hmrc-frontend/hmrc/";
$govuk-new-link-styles: true;
$govuk-new-typography-scale: true;

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.in-sync {
    background-image: url("icons/check.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 16px 16px;
    background-position-y: 4px;
}

.out-of-sync {
    background-image: url("icons/sync.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 16px 16px;
    background-position-y: 4px;
}

.highlightMinus {
    background-color: #fdf2d0;
}

.highlightPlus {
    background-color: #ded;
}

.sha {
    font-family: monospace;
}
