$govuk-assets-path: "/eeitt-admin-frontend/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/eeitt-admin-frontend/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.hmrc-banner {
    padding-bottom: 0px;
}

.hmrc-language-select__list {
    margin-top: 0em;
    margin-bottom: 0em;
}

.hmrc-page-heading {
    margin-top: 0em;
    margin-bottom: 0.75em;
    padding-top: 0px;
}

.in-sync {
    background-image: url("icons/check.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 16px 16px;
    background-position-y: 4px;
}

.out-of-sync {
    background-image: url("icons/sync.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 16px 16px;
    background-position-y: 4px;
}

.highlightMinus {
    background-color: #fdf2d0;
}

.highlightPlus {
    background-color: #ded;
}

.sha {
    font-family: monospace;
}
